<h1>This is Birthday countdown app</h1>

<p>welcome to the home of <span><%=@owner.name%></span>! </p> 

<p>I was born <span><%= @owner.birthdate %></span></p>

<p> Current time is <span> <%= @currenttime %> </span></p>

<p> <span><%= @owner.countdown %></span> days are to go for my birthday!</p>    